@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
	--color-60: #151619;
	--color-30: #304934;
	--color-10: #d6cc99;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Roboto", sans-serif !important;
	margin: 0 auto;
	min-width: 280px;
	min-height: 100vh;
}

.text-fancy {
	font-family: "Gabarito", cursive !important;
}

.bg-one {
	background-color: var(--color-60) !important;
}

.text-one {
	color: var(--color-60) !important;
}

.bg-two {
	background-color: var(--color-30) !important;
}

.text-two {
	color: var(--color-30) !important;
}

.bg-three {
	background-color: var(--color-10) !important;
}

.text-three {
	color: var(--color-10) !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
