@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
	/*
	--color-60: #ffffff;
	--color-20: #ffffff;
	--color-10: #ffffff; 
	*/

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Roboto", sans-serif !important;
	margin: 0 auto;
	min-width: 280px;
	min-height: 100vh;
}

.text-fancy {
	font-family: "Gabarito", cursive !important;
}
